body {
    background-color: #EBEBEB;
}

.track-transition {
    text-align: center;
}

.save-alert {
    display: none;
    text-align: center;
}

.showa {
    position: relative;
    display:block;
    float: inherit;
    transition: opacity 4s ease-in-out;
}

.ion-android-close {
    color: black;
    font-size: 4rem;
    opacity: .7;
    text-shadow: 1px 1px 0px #D3D3D3;
    margin: 50px;
}


.ion-android-done {
    color: black;
    font-size: 4rem;
    opacity: .7;
    text-shadow: 1px 1px 0px #D3D3D3; 
    margin: 50px;

}

.track-image {
    width: 30%;
    box-shadow: 5px 5px 10px #D3D3D3;
}

.track-details {
    font-family: 'Raleway', serif;
    text-align: center;
    text-shadow: 1px 1px 0px #D3D3D3;
}