body {
    background-image: url(../assets/images/4.JPG);
}

.title {
    position: absolute;                   
    width: 100%; 
    font-family: 'Megrim', cursive;
    font-size: 9rem;
    color:#FFFF7E;
    opacity: .7;
    text-align: center;
    text-shadow: 1px 1px 0px #D3D3D3;
    letter-spacing: 20px;
}

.saved-tracks {
    max-width:900px;
    margin:auto; 
    padding:0;
    font-size:0; 
    list-style:none;
}

.saved-tracks li {

    display: inline-block;
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
.track {
    margin:5px;
    box-shadow:;
    display:block;
    position: relative;
    overflow:hidden;
}

.album-image {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

.saved-tracks li:hover .album-img {

    transform:scale(1.05);
}
        
.overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #D3D3D3;
    background-size:50px 50px;
    opacity:0;
    transition:all 0.6s;
}
.saved-tracks li:hover .overlay {
    opacity:.6;
}

.song-title {
    display:block;
    padding:0 20px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    font-size:18px;
    font-family: 'Raleway', serif;
    top:40%;
    color:darkslategrey;
    opacity:0;
    transform:translateY(-20px);
    transition:all .3s;
}
.artist {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    font-size:18px;
    font-family: 'Raleway', serif;
    top:60%;
    color:darkslategrey;
    opacity:0;
    transform:translateY(-20px);
    transition:all .3s;
    
}
.saved-tracks li:hover .song-title {
    transform:translateY(0px);
    opacity:0.9;
}

.saved-tracks li:hover .artist {
    transform:translateY(0px);
    opacity:0.9;
}

